{% include 'ZikulaSpecTheme:Include:header.html.twig' %}
<div class="container">
    <div class="row">
        <h2>ADMIN Realm Template</h2>
        <div id="theme_maincontent">
            {{ maincontent|raw }}
        </div>
    </div>
</div>
{% include 'ZikulaSpecTheme:Include:footer.html.twig' %}