{% include 'ZikulaSpecTheme:Include:header.html.twig' %}
<div class="container">
    <div class="row">
        <h2>MASTER Realm template</h2>
    </div>
</div>
{% include 'ZikulaSpecTheme:Body:2col.html.twig' %}
{% include 'ZikulaSpecTheme:Include:footer.html.twig' %}